body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
  margin-top: 10px;
  border-width:2px 0px 2px 0px ;
}




/* Modal */
.modalBox{
  background-color: white;
  border-radius: 10px;
  position: fixed;
  width: 50%;
  top: 50%;
  
}

.modal{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 15px;
}

.txtModal{
  color: black;
  padding-left: 5%;
  font-weight: 600;
}

.close-btn{
  position:relative;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  bottom: 10px;
  left: 15px;
  font-weight: 600;
  background-color: black;
  border: 1px solid black;
}

.modalDesactivate{
  display: none;
}

.modalActivate{
  display: block;
}

#create-employee{
  background-color: rgb(207, 199, 199);
  color: black;
  border-radius: 15px;
  width: 35%;
  text-align: center;
}

  input {
  background-color: white;
  border-radius: 5px;
  color: black;
}

.btn-save{
  margin-top: 25px;
  width: 200px;
  height: 50px;
  margin-bottom: 15px;
}

.btn-save:disabled{
  border: 1px solid red;
}

label{
  font-size: large;
  font-weight: 600;
}

#department{
  margin-bottom: 20px;
  width: 175px ;
  color: black;
  background-color: white;
  border-radius: 5px;
  height: 25px;
}

#state{
  width: 175px;
  color: black;
  background-color: white;
  border-radius: 5px;
  height: 25px;
}

.error{
  text-align: center;
  color: red;
}

.linkEmployee{
  color: black;
}

.linkHome{
  color: black;
}